<form id='messageForm'>
  <input type='email' id='email' placeholder='ingresa tu email' />
  <input type='text' id='message' placeholder='ingresa tu mensaje' />
  <button type='button' onclick='addMessage(messageForm)'> Enviar</button>

</form>