<form  class="formulario" id="productsForm">
    <input type="text" id="title" placeholder="nombre del producto">
    <input type="number" id="price" placeholder="ingresa el precio">
    <input type="text" id="thumbnail" placeholder="ingresa la imagen">
    
    <button type="button" onclick="addProduct(productsForm)"> Enviar</button>
    
</form>